body {
  font-family: 'times new roman', arial, sans-serif;
  font-weight: 300;
  color: yellow;
  background-image: url(walter.jpg);
  background-repeat: repeat;
  text-align: center
}
#wrapper {
  width: 960px;
  margin: 20px auto 20px auto;
}
