#jumbo {
  border-style: solid;
  border-width: 10px;
  border-radius: 5px;
  border-color: rgb(144,144,144);
  height: 700px;
  /*position: relative;*/
  /*left: 250px;*/
}

h1 {
    font-family: 'Caveat Brush', cursive;
    font-size: 100px;
}

h2 {
    text-align: center;
    font-family: 'Catamaran', sans-serif;f;
    font-size: 100px;
}

h3 {
    text-align: center;
    text-justify: inter-word;
    font-family: 'Roboto Condensed', sans-serif;
 	font-size: 30px;   
}

.navbar-brand {
	font-weight: bold;
}

.jumbotron {
background-image: url(oceancake.jpg);
height: 500px;
width: 1800px;
}